@page "/"
@using MOTChecker.Components.MotApi

<PageTitle>Check My MOT</PageTitle>

<article>
    <header>
        <img id="dvla-logo" src="images/dvla-logo.webp" class="mb-3" alt="Driving &amp; Vehicle Licensing Agency Logo">
        <h1>Check My MOT</h1>
    </header>
    <p>Check your MOT by entering your vehicle registration below.</p>

    <MotChecker />

</article>